<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="header">
        <img class="logo" src="../static/images/logo.png" alt="logo">
        <h4><span>Grow</span><span>Be</span></h4>
        <ul class="header__menu">
            <li><a href="#" style="color:#F25822;">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
<div class="main">
    <div class="info">
        <h1>SEO & Digital<br>Marketing For Your<br>Website.</h1>
        <p>Provide all kind of seo services and help to improve<br>
seo ranking. Globally incubate standards.</p>
        <ul class="btn_text">
            <li><button class="btn" type="button">Start Now</button></li>
            <li><p class="watch_video">Watch Video</p></li>
        </ul>
    </div>
    <div class="image">
        <img src="../static/images/image.png" alt="">
    </div>

</div>
<div class="footer">
    <ul class="sponsors">
        <li><img src="../static/images/liva.png" alt='liva'></li>
        <li><img src="../static/images/kanba.png" alt='kanba'></li>
        <li><img src="../static/images/amara.png" alt='amara'></li>
        <li><img src="../static/images/aven.png" alt='aven'></li>
        <li><img src="../static/images/hexlab.png" alt='hexlab'></li>
        <li><img src="../static/images/kanba.png" alt='kanba'></li>
    </ul>
</div>
</body>
</html>