h1 {
    text-align: center;
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
h2{
text-align: center;
color: coral;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 80px;
}
.container {
width: 100%;
margin: 0 auto;
align-items: center;
}

.nav {
text-align: center;
text-transform: uppercase;
}


.header {
padding: 10px 0}

.nav__link {
text-decoration: none;
margin-right: 25px;
}

.nav__link:hover {
text-decoration: underline;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px; /* Ограничение ширины */
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;

}
.discription {
text-overflow: clip;
}

.price:before {
    content: ' \20BD';
}
ul {
 list-style-type:  none;
 display: flex;
 justify-content: center;
 }

ul.li {
 margin: 0 20px;
 }

 a{
 text-decoration: none;
 }



