<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="container">
    <h1>Каталог</h1>
    <nav class="nav">
            <a class="nav__link" href="index.html">Главная</a>
            <a class="nav__link" href="#">Каталог</a>
            <a class="nav__link" href="#">Контакты</a>
    </nav>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum modi, sed? Adipisci at corporis delectus eaque eum
        exercitationem in ipsum iste itaque iure mollitia nam, nisi obcaecati optio praesentium quasi ratione,
        reprehenderit voluptatem voluptates voluptatibus? Accusamus autem doloribus excepturi expedita fugiat hic ipsum
        laborum neque, obcaecati placeat quaerat ratione saepe, sequi temporibus unde veniam vitae! Ab amet, architecto
        autem deleniti distinctio eaque esse exercitationem fuga, omnis quos sit, veritatis. Ad enim id iste natus neque
        nesciunt repellendus! Alias aspernatur blanditiis ex laboriosam voluptatibus. Accusantium adipisci, blanditiis
        commodi est ex exercitationem explicabo fuga fugit ipsam iusto labore maiores molestiae neque nisi numquam
        omnis, possimus quae quia quisquam reiciendis tempore tenetur ullam vero! Autem doloremque placeat ratione ut
        velit. Ab animi, cum deleniti doloribus enim esse fuga fugiat impedit modi, nostrum nulla pariatur tenetur vero!
        Adipisci cumque, dignissimos ea est, explicabo harum hic incidunt iusto, libero molestiae nisi odio quaerat rem
        rerum!</p>
    <div class="card-content">
        <ul>
        <li>
            <section>
        <div class="card">
            <img src="../static/images/burger.jpg" alt="Бургер" style="width:100%">
            <h3>Бургер</h3>
            <p class="price">299</p>
            <p class="discription">Легендарный бургер с двумя рубленными
            бифшстексами из 100% говядины, маринованными огурчиками, свежим салатом на булочке</p>
        </div>
    </section>
        </li>
        <li>
            <section>
        <div class="card">
            <img src="../static/images/cake.jpg" alt="Пирожинка" style="width:100%">
            <h3>Пирожинка</h3>
            <p class="price">150</p>
            <p>Воздушное пирожное Сдобное королевство с маршмеллоу в глазури 50 г</p>
        </div>
    </section>
        </li>
        <li>
            <section>
        <div class="card">
            <img src="../static/images/khinkali.jpg" alt="Хинкали" style="width:100%">
            <h3>Хинкали</h3>
            <p class="price">450</p>
            <p>Хинкали – это визитная карточка грузинской кухни. Это сочное и сытное блюдо вызывает восхищение
                даже у искушенных гурманов.</p>
        </div>
    </section>
        </li>
    </ul>
    </div>


</div>

</body>
</html>